{% load static %}
<div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Stay Safe
        </p>
      </header>
      <div class="box">
        <div class="card-image">
          <figure class="image COVID-19 Stay Home.png">
            <img src="{% static '/images/COVID-19 Stay Home.png' %}" alt="Placeholder image">
          </figure>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="card-image">
          <figure class="image">
            <img src="{% static '/images/COVID-19 Hygienic Best Practices.png' %}" alt="Placeholder image">
          </figure>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="card-image">
          <figure class="image">
            <img src="{% static '/images/COVID-19 Community.png' %}" alt="Placeholder image">
          </figure>
        </div>
      </div>
    </div>
  </div>

</div>