<br>
<div class="columns">
  <div class="column">
    <div class="box">
<div class="bingwidget" data-type="covid19" data-market="en-us" data-language="en-us" data-location-id="/Cambodia"></div>
  </div>
  </div>
  <div class="column">
    <div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Symptoms
    </p>
    <div class="card">
  <div class="card-content">
    <div class="content">
      <div class="card-content">
    <div class="content">
      <h4>Most common symptoms:</h4>
          <ul>
            
              <li><p>Fever</p></li>
              <li><p>Dry cough</p></li>
              <li><p>Tiredness</p></li>

          </ul>
      <h4>Less common symptoms:</h4>
          <ul>
            
              <li><p>aches and pains</p></li>
              <li><p>sore throat</p></li>
              <li><p>diarrhoea</p></li>
              <li><p>conjunctivitis</p></li>
              <li><p>headache</p></li>
              <li><p>loss of taste or smell</p></li>
              <li><p>a rash on skin, or discolouration of fingers or toes</p></li>
              
          </ul>
      <h4>Serious symptoms:</h4>
          <ul>
            
              <li><p>Difficulty breathing or shortness of breath</p></li>
              <li><p>Chest pain or pressure</p></li>
              <li><p>Loss of speech or movement</p></li>
              
          </ul>

    </div>
  </div>
    </div>
  </div>
</div>
  </header>
</div>
  </div>
</div>
